body{

}

#pc{
background-image: url("images/picture5.png");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

}

.pc-text {
  text-align: center;
  position: absolute;
  padding: 2%;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d4af37;
  border: 5px solid #d4af37;
  height: 120px;
  width: 150px;

}

.pc-text2 {
  text-align: center;
  position: relative;
  padding-top: 1%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d4af37;
  border: 5px solid #d4af37;
  height: 200px;
  width: 250px;

}

.topleft {
  text-align: center;
  position: absolute;
  padding-top: .5%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d4af37;
  border: 5px solid #d4af37;
  height: 30px;
  width: 150px;

  border-radius: 50%;
}
